<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <%-include('../components/mainMenu',{activePage:'products'}) %>

    <main>
      <div class="product-detail">
        Назва товару : <%=product.title %><br />Ціна товару : <%=product.price
        %>
      </div>
      <hr />
      <a href="/products">До списку товарів</a>
      <hr />
    </main>
    <%-include('../components/footer') %>
  </body>
</html>
