<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script>
      async function deleteProduct(id) {
        try {
          const response = await fetch('/products', {
            method: 'delete',
            headers: {
              'content-type': 'application/json',
            },
            body: JSON.stringify({ id }),
          })
          if (response.ok) {
            window.location.reload()
          }
        } catch (error) {
          console.log(error)
        }
      }
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <%-include('../components/mainMenu',{activePage:'products'}) %>

    <main>
      <div>
        <a href="/products/create">+ Додати товар</a>
      </div>
      <hr />
      <table class="product-table">
        <tbody>
          <% products.forEach(product=>{ %>
          <tr>
            <td>
              <img
                src="<%= `${product.photo??'/images/photo-not-available.jpg'}` %>"
                height="80"
              />
            </td>
            <td>
              <a href="<%= `/products/${product.id}` %>">
                <%=product.title %>
              </a>
            </td>
            <td><%=product.price %></td>
            <td>
              <a href="<%= `/products/update/${product.id}`%>">Редагувати</a>
            </td>
            <td>
              <button onclick="deleteProduct(<%=product.id%>)">Delete</button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <hr />
    </main>
    <%-include('../components/footer') %>
  </body>
</html>
